.tab{
    border-radius: 10px;
    width: 400px;
    overflow-x:hidden;
}
.screen {
    background-color: white;
    width: 100%;
    min-height: 80px;
}

.keyboard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 25%;
    height: 50px;
    color: black;
    outline: none;
    font-size: 20px;
    border: 0.1px solid rgb(212, 212, 212);
    transition: all 0.5s;
}

.item:hover {
    background-color: #EEB4B4;
    cursor: pointer;
}

.AC {
    width: 50%;
    background: #FFC0CB;
    transition: all 0.8s;

}

.AC:hover {
    background: #CD919E;
}

.DEL {

    background-color: rgb(240, 133, 133);
    transition: all 0.8s;
}

.DEL:hover {
    background-color:#EEA2AD;
}

.screen .input {
    display: block;
    padding: 0 10px;
    text-align: right;
    word-wrap: normal;
    word-wrap: break-word;
    font-size: 40px;
    color: rgb(47, 43, 43);
}

